.name {
    font-size: 25px;
    text-align: left;
    line-height: 1.4;
    font-family: "Open Sans Light", sans-serif;
}

.links {
    font-size: 19px;
    text-align: left;
    font-family: "Open Sans Light", sans-serif;
    color: black;
}

a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.title {
    font-size: 21px;
    text-align: left;
    line-height: 1.4;
    font-family: "Open Sans Light", sans-serif;

}

.paragraph {
    font-size: 25px;
    text-align: left;
    line-height: 1.4;
    font-family: "Open Sans Light", sans-serif;
}

.column1 {
    float: left;
    width: 33.33%;
    text-align: center;
}

.column2 {
    float: left;
    width: 66.66%;
    text-align: center;
}

@media only screen and (max-width: 992px)
{
    .column1
    {
        text-align: center;
        width: 40%;
    }

    .column2 {
        width: 60%;
    }
}

@media only screen and (max-width: 800px)
{
    .column1
    {
        text-align: center;
        width: 100%;
    }

    .column2 {
        text-align: center;
        width: 100%;
    }

    .name {
        font-size: 40px;
        text-align: center;
        font-family: "Open Sans Light", sans-serif;
    }
    
    .links {
        font-size: 21px;
        text-align: center;
        font-family: "Open Sans Light", sans-serif
    }
    
    .title {
        font-size: 21px;
        text-align: center;
        font-family: "Open Sans Light", sans-serif;
    
    }
    
    .paragraph {
        font-size: 20px;
        text-align: center;
        font-family: "Open Sans Light", sans-serif;
    }
}